<html>
    <head>

    </head>
    <body>
        <a href="/recruiter/<%=userid%>/searchjasa">Cari Jasa</a>
        <a href="/recruiter/<%=userid%>/transactionlist">List Transaksi</a>
        <a href="/recruiter/logout">Logout</a>
    </body>
</html>