<html>
<body>
    <main>
        <div class="container">
            <h2>Profile Freelancer </h2>
                <table>
                    <tr>
                        <td>
                            <img width="200px" src="<%= worker.picture %>" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td>Full Name</td>
                        <td>
                            <input type="text" name="full_name" value="<%= worker.name %>" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>
                            <input type="text" name="telp" value="<%= worker.telp%>" disabled>
                        </td>
                    </tr>
                </table>
        </div> 
    </main>
</body>    
</html>