<html>
    <head>

    </head>
    <body>
        <h1>Login Form</h1>
        <form method="POST" action="">
            <label>
                    Login As : 
                    <select name="role">
                        <option value="worker">Worker</option>
                        <option value="recruiter">Recruiter</option>
                    </select>
            </label>
            <br>
            <br>
            <label>
                Username : 
                <input type="text" name="username">
            </label>
            <br>
            <br>
            <label>
                Password :
                <input type="password" name="password">
            </label>
            <br>
            <br>
            <input type="submit" value="Login !">
        </form>
    </body>
</html>