<html>
    <head>

    </head>
    <body>
        <h1><%= err %></h1>
        <form method="POST">
            <label>
                Register As :
                <select name="role">
                    <option value="worker">Worker</option>
                    <option value="recruiter">Recruiter</option>
                </select>
            </label>
            <br>
            <br>
            <label>
                    Name
                    <input type="text" name="name" placeholder="Enter your name..">
            </label>
            <br>
            <br>
            <label>
                    Username
                    <input type="text" name="username" placeholder="Enter username..">
            </label>
            <br>
            <br>
            <label>
                    Password
                    <input type="password" name="password" placeholder="Enter password..">
            </label>
            <br>
            <br>
            <label>
                    Email
                    <input type="text" name="email" placeholder="Enter your e-mail..">
            </label>
            <br>
            <br>
            <label>
                    Phone Number
                    <input type="text" name="telp" placeholder="Enter your phone number..">
            </label>
            <br>
            <br>
            <label>
                    Gender
                    <input type="radio" name="gender" value="male" checked> Male                    
                    <input type="radio" name="gender" value="female"> Female<br>
            </label>
            <br>
            <br>
            <input type="submit" value="Register !">
        </form>
    </body>
</html>